.journalContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	h1 {
		font-size: 4rem;
		color: #ff96ad;
	}
}

.emojiContainer {
	display: flex;
	margin: 1rem;

	.emoji1 {
		font-size: 5rem;
		padding: 0.25em;
		cursor: pointer;
		background-color: #81f2a0;
		margin: 0.5rem;
		transition: 0.2s ease;
		&:hover {
			background-color: #b36ac9;
		}
		border: none;
		border-radius: 25px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		-ms-border-radius: 25px;
		-o-border-radius: 25px;

		box-shadow: 0 0px 2px rgba(6, 38, 59, 0.158), 0 2px 4px rgba(0, 0, 0, 0.07),
			0 4px 8px rgba(0, 87, 145, 0.247), 0 8px 16px rgba(137, 255, 173, 0.205),
			0 16px 32px rgba(0, 87, 145, 0.082), 0 32px 64px rgba(0, 87, 145, 0.144);
	}

	.emoji2 {
		padding: 0.25em;
		font-size: 5rem;
		cursor: pointer;
		background-color: #85b6ff;
		margin: 0.5rem;
		transition: 0.2s ease;
		&:hover {
			background-color: #b36ac9;
		}
		border-radius: 25px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		-ms-border-radius: 25px;
		-o-border-radius: 25px;

		border: none;

		box-shadow: 0 0px 2px rgba(6, 38, 59, 0.158), 0 2px 4px rgba(0, 0, 0, 0.07),
			0 4px 8px rgba(0, 87, 145, 0.247), 0 8px 16px rgba(137, 255, 173, 0.205),
			0 16px 32px rgba(0, 87, 145, 0.082), 0 32px 64px rgba(0, 87, 145, 0.144);
	}

	.emoji3 {
		padding: 0.25em;
		font-size: 5rem;

		cursor: pointer;
		background-color: #ff96ad;
		margin: 0.5rem;
		transition: 0.2s ease;
		&:hover {
			background-color: #b36ac9;
		}
		border-radius: 25px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		-ms-border-radius: 25px;
		-o-border-radius: 25px;

		border: none;
		box-shadow: 0 0px 2px rgba(6, 38, 59, 0.158), 0 2px 4px rgba(0, 0, 0, 0.07),
			0 4px 8px rgba(0, 87, 145, 0.247), 0 8px 16px rgba(137, 255, 173, 0.205),
			0 16px 32px rgba(0, 87, 145, 0.082), 0 32px 64px rgba(0, 87, 145, 0.144);
	}

	.emoji4 {
		padding: 0.25em;
		font-size: 5rem;
		cursor: pointer;
		background-color: #ffde68;
		margin: 0.5rem;
		transition: 0.2s ease;
		&:hover {
			background-color: #b36ac9;
		}
		border-radius: 25px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		-ms-border-radius: 25px;
		-o-border-radius: 25px;
		border: none;

		box-shadow: 0 0px 2px rgba(6, 38, 59, 0.158), 0 2px 4px rgba(0, 0, 0, 0.07),
			0 4px 8px rgba(0, 87, 145, 0.247), 0 8px 16px rgba(137, 255, 173, 0.205),
			0 16px 32px rgba(0, 87, 145, 0.082), 0 32px 64px rgba(0, 87, 145, 0.144);
	}
}

.notes_container {
	display: column;
}

.note_container_item {
	padding: 2em 3em 2em 3em;
	background-color: rgb(240, 240, 240);
	border: 2px;
	width: 25em;
	margin-top: 1.5em;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;

	box-shadow: 0 0px 2px rgba(6, 38, 59, 0.158), 0 2px 4px rgba(0, 0, 0, 0.07),
		0 4px 8px rgba(0, 87, 145, 0.247), 0 8px 16px rgba(137, 255, 173, 0.205),
		0 16px 32px rgba(0, 87, 145, 0.082), 0 32px 64px rgba(0, 87, 145, 0.144);
}

.note_item_text {
	font-family: sans-serif;
	font-size: 1.5em;
	font-weight: 500;
}
