.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 4rem;
    color: #ff96ad;
  }
}

.heatMapContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}
